# cmake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# catkin build and devel directories
build/
devel/

# vscode settings
.vscode/

# Non necessary packages
src_archive/
