<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!--  Load drive controller -->
    <rosparam file="$(find myrobot_control)/config/control_params.yaml" command="load" />
    <node name="myrobot_controller_manager" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="myrobot_diff_drive_controller" >
    </node>

</launch>