<?xml version="1.0" ?>
<model>
    <name>Building Downstairs</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>William Hunt</name>
        <email>will.hunt.mail@gmail.com</email>
    </author>
    <description>
		Downstairs of my house.
	</description>
</model>
