<launch>
    <arg name="goalnav_on" default="false"/>
    <arg name="teleop_on" default="true"/>
    <arg name="joystick_on" default="false"/>
    <arg name="amcl_on" default="false"/>
    <arg name="slam_on" default="true"/>

    <!-- SLAM mapping -->
    <group if="$(arg slam_on)">
        <include file="$(find myrobot_navigation)/launch/mapping.launch"/>
    </group>

    <!-- Move base node name="move_base" -->
    <group if="$(arg goalnav_on)">
        <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

            <remap from="cmd_vel" to="/myrobot_diff_drive_controller/cmd_vel" />
            <remap from="odom" to="/myrobot_diff_drive_controller/odom" />

            <param name="base_global_planner" value="navfn/NavfnROS" />
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
            <rosparam file="$(find myrobot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find myrobot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find myrobot_navigation)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find myrobot_navigation)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find myrobot_navigation)/config/base_local_planner_params.yaml" command="load" />
        </node>
    </group>

    <!-- AMCl node name="amcl" -->
    <group if="$(arg amcl_on)">
        <!-- Map server node name="map_server" -->
        <arg name="map_file" default="$(find myrobot_navigation)/maps/map.yaml"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

        <node name="amcl" pkg="amcl" type="amcl" output="screen">
            <remap from="scan" to="scan" />
            <rosparam file="$(find myrobot_navigation)/config/amcl_params.yaml" command="load" />
        </node>
    </group>

    <!-- RQT Teleop Controller -->
    <group if="$(arg teleop_on)">
        
        <node name="rqt_drive" pkg="rqt_robot_steering" type="rqt_robot_steering" >
            <remap from="cmd_vel" to="/myrobot_diff_drive_controller/cmd_vel" />
        </node>
    </group>
    <!-- JOYSTICK using xbox controller-->
    <group if="$(arg joystick_on)">  
        <param name="joy_node/dev" value="/dev/input/js0" />
        <node name="joystick" pkg="joy" type="joy_node">
            <param name="autorepeat_rate" value="20" />
        </node>
        <node name="joystick_controller" pkg="teleop_twist_joy" type="teleop_node">
            <rosparam file="$(find myrobot_control)/config/joystick_params.yaml" command="load" />
            <remap from="cmd_vel" to="/myrobot_diff_drive_controller/cmd_vel" />
        </node>
    </group>

</launch>