<launch>
    <!-- Args-->
    <arg name="debug" default="false"/>
    <arg name="goalnav_on" default="true"/>
    <arg name="teleop_on" default="false"/>
    <arg name="joystick_on" default="false"/>
    <arg name="amcl_on" default="true"/>
    <arg name="slam_on" default="false"/>

    <!-- Robot and world -->
    <include file="$(find myrobot_gazebo)/launch/world.launch"/>

    <!-- Drive controller -->
    <include file="$(find myrobot_control)/launch/control.launch"/>

    <!-- Navigation -->
    <include file="$(find myrobot_navigation)/launch/navigation.launch">
        <arg name="goalnav_on" default="$(arg goalnav_on)"/>
        <arg name="teleop_on" default="$(arg teleop_on)"/>
        <arg name="joystick_on" default="$(arg joystick_on)"/>
        <arg name="amcl_on" default="$(arg amcl_on)"/>
        <arg name="slam_on" default="$(arg slam_on)"/>
    </include>
    
    <!--launch rviz-->
    <group if="$(eval amcl_on or slam_on)">
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find myrobot_main)/rviz/nav_config.rviz"/>
    </group>
    <group unless="$(eval amcl_on or slam_on)">
        <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find myrobot_main)/rviz/teleop_config.rviz"/>
    </group>

    <!--  Debugging tools -->
    <group if="$(arg debug)">
        <node name="tf_graph" pkg="rqt_tf_tree" type="rqt_tf_tree" />
        <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />
    </group>
</launch>